In [7]:
class student:
    id = ""
    cgpa = ""

raihan = student()
raihan.id = 101
raihan.cgpa = 3.75
print("id:{} cgpa:{}".format(raihan.id,raihan.cgpa))

id:101 cgpa:3.75

In [8]:
class student:
    id = ""
    cgpa = ""
    def display(self):
        print("id:{} cgpa:{}".format(raihan.id,raihan.cgpa)) 
raihan = student()
raihan.id = 101
raihan.cgpa = 3.75
raihan.display

id:101 cgpa:3.75

In [3]:
class student:
    id = ""
    cgpa = ""
    def __init__(self,id,cgpa) -> None:
        self.id = id
        self.cgpa = cgpa

    def display(self):
        print("id:{} cgpa:{}".format(raihan.id,raihan.cgpa)) 

raihan = student(101,3.85)
raihan.display()

id:101 cgpa:3.85

In [10]:
class student:
    id = ""
    cgpa = ""
    def __init__(self,id,cgpa) -> None:
        self.id = id
        self.cgpa = cgpa

    def __repr__(self) ->str:
        return "id:{}  cgpa:{}".format(self.id,self.cgpa)
           

raihan = student(101,3.85)
print(raihan)

id:101  cgpa:3.85

In [37]:
class Product:
    platform = "Amazon"

    def __init__(self,id:int,title:str,price:float) -> None:
        self.id = id
        self.title = title
        self.price = price

    def getInfo(self)-> str:
        return (self.id,self.title,self.price)
        
    def getdiscount(self) ->str:
        return self.price - (self.price*(15/100))

    def __str__(self) -> str:
        return f'Product(id = {self.id},title = {self.title},price = {self.price})'

In [38]:
p1 = Product(101,"Iphone",120000.000)
print(p1)

Product(id = 101,title = Iphone,price = 120000.0)

In [39]:
p2 = Product(102,"Iphone x",150000.000)
print(p2)

Product(id = 102,title = Iphone x,price = 150000.0)

In [30]:
print(p1.platform)
print(p2.platform)

Amazon
Amazon

In [31]:
p1.getInfo()

(101, 'Iphone', 120000.0)

In [32]:
p2.getInfo()

(102, 'Iphone x', 150000.0)

In [40]:
p1.getdiscount()

102000.0

In [41]:
p2.getdiscount()

127500.0

In [42]:
class Product:
    platform = "Amazon"

    def __init__(self,id:int,title:str,price:float) -> None:
        self.id = id
        self.title = title
        self.price = price

    def __repr__(self) -> str:
        return f'Product(id = {self.id},title = {self.title},price = {self.price})'

In [46]:
class Cloth(Product):
    def __init__(self, id: int, title: str, price: float,size:str) -> None:
        self.size = size
        super().__init__(id, title, price)
    def __repr__(self) -> str:
        return f'Product(id={self.id},title={self.title},price={self.price},size={self.size}'

In [47]:
p1 = Cloth(101,'T-shirt',25000,'XXL')
print(p1)

Product(id=101,title=T-shirt,price=25000,size=XXL

In [48]:
Cloth.__mro__

(__main__.Cloth, __main__.Product, object)

In [59]:
class Product:
    platform = "Amazon"

    def __init__(self,id:int,title:str,price:float) -> None:
        self.id = id
        self.title = title
        self.price = price


class Cloth(Product):
    def __init__(self, id: int, title: str, price: float,size:str) -> None:
        self.size = size
        super().__init__(id, title, price)
    

class Topware(Cloth):

    def __init__(self, id: int, title: str, price: float, size: str,febric:str) -> None:
        self.febric = febric
        super().__init__(id, title, price, size)

    def __repr__(self) -> str:
        return f"Product(id:{self.id}, title:{self.title}, price:{self.price}, size:{self.size}, febric:{self.febric})"

In [60]:
p1 = Topware(101,'T-shirt',25000,'XXL','Cotton')
print(p1)

Product(id:101, title:T-shirt, price:25000, size:XXL, febric:Cotton)

In [58]:
Topware.__mro__

(__main__.Topware, __main__.Cloth, __main__.Product, object)

In [65]:
class Product:
    platform = "Amazon"

    def __init__(self,id:int,title:str,price:float) -> None:
        self.id = id
        self.title = title
        self.price = price

class Seller:
    def __init__(self,s_id:int,s_name:str) -> None:
        self.s_id = s_id
        self.s_name = s_name

class Cloth(Product,Seller):
    def __init__(self, id: int, title: str, price: float,size:str,s_id:int,s_name:str) -> None:
        self.size = size
        Product.__init__(self,id, title, price)
        Seller.__init__(self,s_id,s_name)

    def __repr__(self) -> str:
        return f"Product(id:{self.id}, title:{self.title}, price:{self.price}, size:{self.size}, s_id:{self.s_id}, s_name:{self.s_name})"

In [66]:
p1 = Cloth(101,'T-shirt',1200.00,'XXXL',8001,'Md Sakil')
p1

Product(id:101, title:T-shirt, price:1200.0, size:XXXL, s_id:8001, s_name:Md Sakil)

In [6]:
def myfunction(n):
    if n in [0,1]:
        return n
    else:
        print(n)
        return myfunction(n-1) 

myfunction(4)

4
3
2

1

In [7]:
def myfunction(n):
    if n in [0,1]:
        return n
    else:
        print(n)
        return myfunction(n-1) + myfunction(n-2)

myfunction(4)

4
3
2
2

3