## Types

## String

In [3]:
var_1 = "Python5676"
var_2 = 'Java'
print(type(var_1))
type(var_2)

<class 'str'>

str

In [6]:
var_1 = "Python5676"

print(var_1)

Python5676

In [22]:
# Slicing [start:stop:step]
print(var_1[0])
print(var_1[3])
print(var_1[0:6])
print(var_1[6:])
print(var_1[0:7:2])
print(var_1[-1:-3:-1])
print(var_1[-4:-1])
print(var_1[-4:])
print(var_1[::-1])

P
h
Python
5676
Pto5
67
567
5676
6765nohtyP

In [25]:
# methods
var_3 = "raihan Sikdar python"
email = "raihansikdar10@gmail.com"
print(var_3.upper())
print(var_3.lower())
print(var_3.capitalize())
print(var_3.title())
print(var_3.swapcase())
print(var_3.find('Sikdar'))
print(var_3.find('Mamun'))
print(var_3.count('i'))
print(email.endswith('@gmail.com'))
print(var_3.startswith('raihan'))
print(var_3.split())
print(email.split('@'))
print(email.replace('gmail','yahoo'))
print(email)
email = email.replace('gmail','yahoo')
print(email)
print(email.isalpha())
print(email.isdigit())

var_4 = " Al Mamun "
print(var_4)
print(var_4.strip())

RAIHAN SIKDAR PYTHON
raihan sikdar python
Raihan sikdar python
Raihan Sikdar Python
RAIHAN sIKDAR PYTHON
7
-1
2
True
True
['raihan', 'Sikdar', 'python']
['raihansikdar10', 'gmail.com']
raihansikdar10@yahoo.com
raihansikdar10@gmail.com
raihansikdar10@yahoo.com
False
False
 Al Mamun
Al Mamun

## Numbers

In [27]:
num_1 = 456
print(type(num_1))

<class 'int'>

In [28]:
num_2 = 45.67
print(type(num_2))

<class 'float'>

In [30]:
num_3 = 2+3j
print(num_3)
print(type(num_3))
print(num_3.real)
print(num_3.imag)

(2+3j)
<class 'complex'>
2.0
3.0

## Boolean

In [31]:
b1= True
b2 = False
print(type(b1))
print((b2))

<class 'bool'>
False

## Type Casting or Conversion

In [33]:
age = '23'
age = int(age)
print(type(age))
print(age)

<class 'int'>
23

In [34]:
age = '23'
age = float(age)
print(type(age))
print(age)

<class 'float'>
23.0

In [35]:
age = '23'
age = complex(age)
print(type(age))
print(age)

<class 'complex'>
(23+0j)

In [4]:
w = 45.678
print(int(w))
print(complex(w))
str(w)

45
(45.678+0j)

'45.678'

In [5]:
m = "abc4"
print(int(m[-1]))

4