## List[]

In [1]:
var = [23,19,21,22,31,24,25,27]
print(var)

[23, 19, 21, 22, 31, 24, 25, 27]

In [2]:
# Slicing
print(var[1])
print(var[1:5])

19
[19, 21, 22, 31]

In [3]:
var[1] =20
print(var)

[23, 20, 21, 22, 31, 24, 25, 27]

In [4]:
var[2:5] = 17,18,19
print(var)

[23, 20, 17, 18, 19, 24, 25, 27]

In [5]:
# Delete
del var[1]
print(var)

[23, 17, 18, 19, 24, 25, 27]

In [6]:
# Methods
var = [23,19,21,22,31,24,25,27,27]
print(var)

var_1 = [45,67,67.5]

var.append(32)
print(var)

var.insert(2,20)
print(var)

print(var.count(27))
print(var.index(27))
var.pop()
print(var)
var.pop()
print(var)

var.remove(22)
print(var)

var.extend(var_1)
print(var)

var.reverse()
print(var)

var.sort()
print(var)

var.sort(reverse = True)
print(var)

var[var.index(31)] = 50
print(var)

print(len(var))

var.clear()
print(var)

[23, 19, 21, 22, 31, 24, 25, 27, 27]
[23, 19, 21, 22, 31, 24, 25, 27, 27, 32]
[23, 19, 20, 21, 22, 31, 24, 25, 27, 27, 32]
2
8
[23, 19, 20, 21, 22, 31, 24, 25, 27, 27]
[23, 19, 20, 21, 22, 31, 24, 25, 27]
[23, 19, 20, 21, 31, 24, 25, 27]
[23, 19, 20, 21, 31, 24, 25, 27, 45, 67, 67.5]
[67.5, 67, 45, 27, 25, 24, 31, 21, 20, 19, 23]
[19, 20, 21, 23, 24, 25, 27, 31, 45, 67, 67.5]
[67.5, 67, 45, 31, 27, 25, 24, 23, 21, 20, 19]
[67.5, 67, 45, 50, 27, 25, 24, 23, 21, 20, 19]
11
[]

## Shallow Copy and Deep Copy

### Shallow Copy

In [7]:
var_1 = [25,30,35]
var_2 = var_1 

print("var_1 : ",var_1)
print("var_2 : ",var_2)

var_1 :  [25, 30, 35]
var_2 :  [25, 30, 35]

In [8]:
var_1 = [25,30,35]
var_2 = var_1 
var_2.append(99)

print("var_1 : ",var_1)
print("var_2 : ",var_2)

var_1 :  [25, 30, 35, 99]
var_2 :  [25, 30, 35, 99]

### Deep copy

In [9]:
var_1 = [25,30,35]
var_3 = var_1.copy()
var_3.append(99)

print("var_1 : ",var_1)
print("var_2 : ",var_2)

var_1 :  [25, 30, 35]
var_2 :  [25, 30, 35, 99]

## Tuple()

In [10]:
tup = (45, 67, 67, "Python", True, 1+7j)
tup[1:]

(67, 67, 'Python', True, (1+7j))

In [11]:
tup.count(67)

2

In [12]:
tup.index(67)

1

In [13]:
tup[2] = 68

TypeError: 'tuple' object does not support item assignment

In [14]:
s = 'Python'
s[0] = 'S'

TypeError: 'str' object does not support item assignment

In [15]:
del tup

## Set{}

In [16]:
s1 = {6,2,2,3,3,4,5}
s1

{2, 3, 4, 5, 6}

In [17]:
s1[0]

TypeError: 'set' object is not subscriptable

In [18]:
# methods
s1 = {6,2,2,3,3,4,5}
s2 = {6, 5, 7, 9, 8}

s1.union(s2)

{2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
# methods
s1 = {6,2,2,3,3,4,5}
s2 = {6, 5, 7, 9, 8}

s1.intersection(s2)

{5, 6}

In [20]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [21]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s2.difference(s1)

{6, 7, 8}

In [22]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [23]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.isdisjoint(s2)

False

In [24]:
s1 = {1,2,3,4,5}
s2 = {4,5}

print(s1.issuperset(s2))

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.issuperset(s2))

True
False

In [25]:
# methods
s1 = {2,3,4}
s1.add(45)
print(s1)

s1.discard(45)
print(s1)

s1.remove(4)
print(s1)

s1.pop()
print(s1)

s1.update({4,5,6})
print(s1)

{2, 3, 4, 45}
{2, 3, 4}
{2, 3}
{3}
{3, 4, 5, 6}

In [26]:
s1 = {2,3,4}
s1.add(45)
print(s1)

s1.discard(48)
print(s1)

{2, 3, 4, 45}
{2, 3, 4, 45}

In [27]:
s1 = {2,3,4}
s1.add(45)
s1.remove(46)
print(s1)

KeyError: 46

## Dictionary{}

In [28]:
std = {'roll':1,'name':'Raihan','dept': 'cse'}
std

{'roll': 1, 'name': 'Raihan', 'dept': 'cse'}

In [29]:
std['name']

'Raihan'

In [30]:
std['dept']

'cse'

In [31]:
#update
std['roll']=133

In [32]:
#adding new key:value
std['sub'] = ['Math','OS','Network']
std

{'roll': 133,
 'name': 'Raihan',
 'dept': 'cse',
 'sub': ['Math', 'OS', 'Network']}

In [33]:
# methods
print( std.keys() )
print( std.values() )
print( std.items() )
print( std.get('Dept',"NA") )
print( std.pop('dept') )
print(std)

dict_keys(['roll', 'name', 'dept', 'sub'])
dict_values([133, 'Raihan', 'cse', ['Math', 'OS', 'Network']])
dict_items([('roll', 133), ('name', 'Raihan'), ('dept', 'cse'), ('sub', ['Math', 'OS', 'Network'])])
NA
cse
{'roll': 133, 'name': 'Raihan', 'sub': ['Math', 'OS', 'Network']}

In [34]:
std.popitem()

('sub', ['Math', 'OS', 'Network'])

In [35]:
std

{'roll': 133, 'name': 'Raihan'}

In [36]:
std.fromkeys(['dept', 'subs'], 'default')

{'dept': 'default', 'subs': 'default'}

In [39]:
std.update({'dept': 'default', 'subs': 'default'})
std

{'roll': 133, 'name': 'Raihan', 'dept': 'default', 'subs': 'default'}

In [41]:
std.setdefault(99)
std

{'roll': 133, 'name': 'Raihan', 'dept': 'default', 'subs': 'default', 99: None}