## Basic OOP

In [1]:
class student:
    id = ""
    cgpa = ""

raihan = student()
raihan.id = 101
raihan.cgpa = 3.75

print(f"id = {raihan.id} cgpa = {raihan.cgpa} ")

id = 101 cgpa = 3.75

In [2]:
class student:
    id = ""
    cgpa = ""
    
    # Methods
    def display(self):
        print(f"id = {raihan.id} cgpa = {raihan.cgpa} ")

raihan = student()
raihan.id = 101
raihan.cgpa = 3.75 
raihan.display()

id = 101 cgpa = 3.75

In [3]:
 # Creating Constructor
class student:
    id = ""
    cgpa = ""
    
    def __init__(self,id,cgpa):    # Constructor
        self.id = id
        self.cgpa = cgpa

    def display(self):
        print(f"id = {raihan.id} cgpa = {raihan.cgpa}")

raihan = student(101,3.75)
raihan.display()

id = 101 cgpa = 3.75

In [3]:
class student:
    
    def __init__(self,id,name) -> None:
        self.id = id
        self.name = name

    def __repr__(self) -> str:
        return "id = {} , name = {}".format(self.id,self.name)

obj = student(101,"Raihan Sikdar")
print(obj)

id = 101 , name = Raihan Sikdar

In [4]:
class triangle:
    def __init__(self,base,height) -> None:
        self.base = base
        self.height = height
        
    def calculate_area(self):
        area = 0.5*(self.base*self.height)
        print(area)

t1 = triangle(5,10)
t1.calculate_area()

25.0

## Course

In [4]:
# Create Class
class Product:
    
    # Global Attribute
    platform = 'AMAZON'

    # Constructor
    def __init__(self,id: int, title: str, price: float) -> None:
        self.id = id
        self.title = title
        self.price = price
    
    # Methods
    def getInfo(self) -> str:
        return (self.id,self.title,self.price)
    
    def getDiscount(self) -> float:
        return self.price - (self.price*(15/100))

    def __str__(self) -> str:
        return f'Product(id = {self.id},title = {self.title},price = {self.price})'

    # def __repr__(self) -> str:
    #     return f'Product(id = {self.id},title = {self.title})'

In [5]:
# Creating Object 
p1 = Product(133,'Iphone',12000.00)
print(p1)
# p1.getInfo()

Product(id = 133,title = Iphone,price = 12000.0)

In [6]:
p2 = Product(101,'Samsung',150000.00)
print(p2)

Product(id = 101,title = Samsung,price = 150000.0)

In [7]:
print(p1.platform)
print(p2.platform)

AMAZON
AMAZON

In [8]:
p1.getInfo()

(133, 'Iphone', 12000.0)

In [9]:
p2.getInfo()

(101, 'Samsung', 150000.0)

In [10]:
p1.getDiscount()

10200.0

In [11]:
p2.getDiscount()

127500.0

In [12]:
p1.title

'Iphone'

In [13]:
p2.title

'Samsung'

## Getter,Setter and Deleter

In [13]:
class Product:

    Platform = "Amazon"

    def __init__(self,id: int,title: str,price: float) -> None:
        self.id = id
        self.title = title
        self.price = price
        self.__code = 553311     # Private Attribute

    @property                    # Getter
    def code(self) -> int:
        return self.__code
    
    @code.setter                 # Setter
    def code(self,new: int) -> None:
           self.__code = new
    
    @code.deleter                # Deleter
    def code(self) -> None:
        del self.__code
   
    def getInfo(self) -> str:
        return (self.id,self.price,self.title)

    def __str__(self) -> str:
        return "id: {}, title: {}, price: {}".format(self.id,self.title,self.price)

In [14]:
p1 = Product(101,"Iphone 13 pro max",150000.00)
print(p1)

id: 101, title: Iphone 13 pro max, price: 150000.0

In [15]:
p1.code

553311

In [16]:
# without setter
# p1.code = 112233
# AttributeError: can't set attribute

In [17]:
# with setter
p1.code = 112233
p1.code

112233

In [18]:
# without deleter

# del p1.code
# AttributeError: can't delete attribute

In [19]:
# with deleter
del p1.code

In [20]:
p1.code          # deleter delete code

AttributeError: 'Product' object has no attribute '_Product__code'