## While Loop

In [1]:
start,stop = 1,5
while start<=stop:
    print(start)
    start = start + 1

1
2
3
4
5

In [3]:
start,stop = 5,1
while start >= stop:
    print(start)
    start = start - 1

5
4
3
2
1

In [4]:
start,stop = 1,5
while start<=stop:
    start = start + 1
    print(start)

2
3
4
5
6

## For loop

In [5]:
range(1,5)

range(1, 5)

In [1]:
list(range(1,5))

[1, 2, 3, 4]

In [19]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [2]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [3]:
s = 'Python'
for alpha in s:
    print(alpha)

P
y
t
h
o
n

In [4]:
for num in [1,2,3,4,526,62,56]:
    print(num)

1
2
3
4
526
62
56

In [5]:
for num in {1,2,3,4,526,62,56}:
    print(num)

1
2
3
4
526
56
62

In [6]:
std = {'roll':1, 'name': 'Raihan', 'dept':'CSE'}
for var in std:
    print(var)

roll
name
dept

In [7]:
std = {'roll':1, 'name': 'Raihan', 'dept':'CSE'}
for var in std.values():
    print(var)

1
Raihan
CSE

In [8]:
std = {'roll':1, 'name': 'Raihan', 'dept':'CSE'}
for var in std.items():
    print(var)

('roll', 1)
('name', 'Raihan')
('dept', 'CSE')

In [9]:
std = {'roll':1, 'name': 'Raihan', 'dept':'CSE'}
for key,val in std.items():
    print(key,val)

roll 1
name Raihan
dept CSE

In [10]:
for num in [(1,2,3),(4,526,62),(56,70,90)]:
    print(num)

(1, 2, 3)
(4, 526, 62)
(56, 70, 90)

In [11]:
for n1,n2,n3 in [(1,2,3),(4,526,62),(56,70,90)]:
    print(n1+n2+n3)

6
592
216

In [12]:
for row in [(1,2,3,8),(4,526,62),(56,70,90)]:
    for col in row:
        print(col)

1
2
3
8
4
526
62
56
70
90

In [13]:
for row in [(1,2,3,8),(4,526,62),(56,70,90)]:
    for col in row:
        print(col**2)
    print("____")

1
4
9
64
____
16
276676
3844
____
3136
4900
8100
____

In [14]:
for row in [(1,2,3,8),(4,526,62),(56,70,90)]:
    for col in row:
        print(col**2, end = " ")
    print()

1 4 9 64
16 276676 3844
3136 4900 8100

In [15]:
for num in [1,2,3,8,125,80]:
    if num == 125:
        print(num,"Found Data!")
    print(num,"Searching...")
print("Done")

1 Searching...
2 Searching...
3 Searching...
8 Searching...
125 Found Data!
125 Searching...
80 Searching...
Done

In [16]:
for num in [1,2,3,8,125,80]:
    if num == 125:
        print(num,"Found Data!")
        break
    print(num,"Searching...")
print('Done')

1 Searching...
2 Searching...
3 Searching...
8 Searching...
125 Found Data!
Done

In [17]:
start,stop = 1,5
while start<=stop:
    print(start)
    if start == 3:
        print('Found! 3')
        break
    start = start + 1

1
2
3
Found! 3

## Continue

In [18]:
for num in [1,2,3,8,125,80,90]:
    if num == 125:
        print("Skip!")
        continue
    print(num)
print('Done')

1
2
3
8
Skip!
80
90
Done