In [1]:
bucket = []
for num in range(1,10):
    if num %2 ==0:
        bucket.append(num**2)
    else:
        bucket.append(num)
bucket

[1, 4, 3, 16, 5, 36, 7, 64, 9]

## List Comprhension

In [2]:
bucket = [num for num in range (1,10)]
bucket

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
bucket = [num**2 if num%2==0 else num for num in range (1,10)]
bucket

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [4]:
bucket = [for num in range (1,10) num**2 if num%2==0 else num ]
bucket

SyntaxError: invalid syntax (<ipython-input-4-39bd8ff052f8>, line 1)

In [5]:
bucket = [num**2 if num%2==0 for num in range (1,10) ]
bucket

SyntaxError: invalid syntax (<ipython-input-5-80bc969594d9>, line 1)

In [6]:
bucket = [num**2 for num in range (1,10)  if num%2==0]
bucket

[4, 16, 36, 64]

In [7]:
bucket = tuple(num**2 for num in range (1,10)  if num%2==0)
bucket

(4, 16, 36, 64)

In [8]:
bucket = {num**2 for num in range (1,10)  if num%2==0}
bucket

{4, 16, 36, 64}

In [9]:
bucket = {num:num**2  if num%2==0 else num for num in range (1,10) }
bucket

{1: 1, 2: 4, 3: 3, 4: 16, 5: 5, 6: 36, 7: 7, 8: 64, 9: 9}

In [10]:
data = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [11]:
sqbucket = []
for row in data:
    temp = []
    for col in row:
        if col%2==0:
            temp.append(col**2)
        else:
            temp.append(col)
    sqbucket.append(temp)
sqbucket

[[1, 4, 3], [16, 5, 36], [7, 64, 9]]

In [12]:
sqbucket = [[col**2 if col%2==0 else col for col in row]for row in data]
sqbucket

[[1, 4, 3], [16, 5, 36], [7, 64, 9]]